.top-banner {
    width: 100%;
    background-color: black;
    color: rgba(255, 255, 255, 0.442);
    padding: 5px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }
  
  .scrolling-text {
    display: inline-block;
    white-space: nowrap;
    padding-left: 20%;
    animation: scrollText 40s linear infinite;
    font-size: 14px;
  }
  
  @keyframes scrollText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
