.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #05051f47;
  padding: 40px 20px;
  border-radius: 12px;
  border: 1px solid rgba(34, 71, 138, 0.456);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 1200px;
  margin: 40px auto;
}

.contact-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #7daeeb;
  margin-bottom: 30px;
  text-align: center;
}

.contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 700px;
  margin-bottom: 30px;
}

.contact-item {
  background: linear-gradient(145deg, #031e46, #225a99);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  overflow-wrap: break-word; /* Asegura que las palabras largas no se desborden */
}

.contact-item h2 {
  font-size: 1.2rem;
  margin-bottom: 12px;
  color: #a5ccfd;
  font-weight: 600;
  transition: color 0.3s ease;
}

.contact-item p {
  font-size: 1rem;
  color: #a5ccfd;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.social-links {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  font-size: 1.5rem; 
  color: #a5ccfd;
  text-decoration: none;
  padding: 12px;
  background-color: transparent;
}

.contact-footer {
  text-align: center;
  color: #a5ccfd;
  margin-top: 30px;
  font-size: 0.9rem;
  opacity: 0.7;
}

.contact-footer p {
  margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-content {
    grid-template-columns: 1fr;
  }
}
