.about-us {
    display: flex;
    justify-content: center;
    padding: 0;
    height: 100vh;
    color: #898edd;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.left-square {
    background-image: linear-gradient(rgba(30, 44, 150, 0.9), rgba(0, 0, 7, 0.742)), url('/layout.jpg');
    background-size: large;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.right-square {
    background-color: rgba(20, 20, 80, 0.8);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.right-square:hover {
    transform: translateY(-5px);
}

.right-square h1 {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #00bcd4;   
    text-transform: uppercase;
    font-weight: 800;
}

.right-square h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    font-weight: 800;
}

.right-square p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    text-align: left;
}

.right-square .features {
    width: 100%;
}

.right-square .feature {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon {
    height: 24px;
    width: 24px;
    color: #898dce;
    margin-right: 10px;
}

.right-square .cta-button {
    background-color: transparent;
    color: #00e5ff;
    padding: 14px 28px;
    border: 1px solid #00e5ff;
    border-radius: 8px;
    margin-top: 24px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    box-shadow: 0 4px 6px rgba(0, 229, 255, 0.1);
}

.right-square .cta-button:hover {
    background-color: #00e5ff;
    color: #1a1e2e;
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 229, 255, 0.2);
}

.right-square .cta-button:active {
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 229, 255, 0.2);
}
.right-square .policy-note {
    font-size: 0.8rem; 
    color: #8996de; 
    margin-top: 20px; 
    background-color: #0707326d;
    padding: 10px;
    border-radius: 10px;
}
