@font-face {
  font-family: 'Chirp';
  src: url('./assets/fonts/Chirp-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Chirp', sans-serif;
}

.footer {
  margin-top: 10vh;
  background: #141414;
  color: #e1e1e1;
  padding: 40px 20px;
  text-align: center;
  font-family: "Chirp", sans-serif;
}

.footer-content {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1200px;
  gap: 50px;
  justify-items: center;
  align-items: start;
}

.footer-text-wrapper {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 30px;
}

.footer-text {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
  color: #e1e1e1;
}

.footer-links-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-links {
  display: flex;
  flex-wrap: list-wrap;
  gap: 20px;
  justify-content: center;
}

.footer-link {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #00D8FF;
}

.footer-divider {
  margin: 40px auto;
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, #14161c, #2d2f36, #14161c);
  box-shadow: 0 1px 20px rgba(99, 125, 255, 0.1);
  grid-column: 1 / -1;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  color: #e1e1e1;
  text-align: center;
  width: 100%;
  grid-column: 1 / -1;
  font-family: "Chirp", sans-serif;
}

.heartbeat {
  color: #ee30ff;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  animation: heartbeat 1.5s infinite ease-in-out;
  transition: transform 0.3s ease;
}

.footer-tagline {
  background-color: #1c1e23;
  color: #00D8FF;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  font-family: "Chirp", sans-serif;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.heartbeat:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .footer {
    margin-top: 10vh;
  }
  .footer-content {
    grid-template-columns: 1fr;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-text-wrapper,
  .footer-links-wrapper {
    width: 100%;
    text-align: center;
  }
}