@font-face {
    font-family: 'Chirp';
    src: url('./assets/fonts/Chirp-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Chirp', sans-serif;
    background: #0a0a0a;
    color:#e1e1e1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(48, 135, 170);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}
