/* App.css */

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif;
    background: #040721;
    color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgb(48, 135, 170);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}